<div class="row">
  <div class="col-sm-9 col-md-8">
    <div class="thumbnail">
      <img src="<%= attr.pic %>" alt="...">
      <div class="caption">
        <h3><%= attr.username %></h3>
        <p><%= attr.pic %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-8">
    <div class="thumbnail">
      <img src="" alt="...">
      <div class="caption">
        <h3>여긴...어떤 내용을 둘까?</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9 col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#" class="btn btn-primary" role="button">Button</a>
        <a href="#" class="btn btn-primary" role="button">Button</a>
        <button type="button" class="btn btn-default btn-md">
          <span class="glyphicon glyphicon-pencil"></span> Star
        </button>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>
